:root {
    /* Blue */
    --blue900: #091133;
    --blue800: #111B47;
    --blue600: #37447E;
    --blue500: #505F98;
    --blue400: #6F7CB2;

    /* Gray */
    --gray600: #5D6970;

    /* White */
    --white: #FFFFFF;

    /* Background */
    --background: #FBFBFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto',sans-serif;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.6vh 14vw 14vh 14vw;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}

header li {
    padding-right: 4vw;
}

header li:last-child {
    padding-right: 0;
}

header li a {
    font-size: 1.2vw;
    font-weight: 400;
    color: var(--blue500);
}

header h1 {
    font-size: 2.2vw;
    font-weight: 900;
    color: var(--blue600);

    margin-left: -6vw;
}

header button {
    font-size: 1vw;
    font-weight: 500;
    color: var(--white);
    background: var(--blue800);

    border: none;
    border-radius: .16vw;

    opacity: .7;

    padding: .58vw 4.7vw;

    transition: opacity .2s;

    cursor: pointer;
}

header button:hover {
    opacity: 1;
}

/* Home Section */

.backShape {
    width: 70vw;
    height: auto;

    top: 0;
    right: 0;

    position: absolute;

    z-index: -1;
}

.homeSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 11.5vw;
}

.homeSection img {
    display: inline-block;
    width: 44vw;
    height: auto;

    top: 0;
}

.detailsHome {
    display: block;

    width: 45.6vw;
    height: 35.6vw;

    padding-right: 7.8vw;
}

.detailsHome h1 {
    font-size: 3.317vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 1.7vw;
}

.detailsHome p {
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--blue500);

    margin-bottom: 5.8vw;
}

.buttonsHome {
    display: flex;
    align-items: center;
}

.buttonsHome button:first-child {
    color: var(--white);
    background: var(--blue800);

    margin-right: 2.5vw;

    padding: 0.6vw 3.5vw;
    border: none;
    border-radius: .16vw;

    font-size: 1.3vw;
    font-weight: 500;

    cursor: pointer;

    opacity: .8;
    transition: opacity .2s;
}

.buttonsHome button:first-child:hover {
    opacity: 1;
}

.buttonsHome button:last-child {
    color: var(--blue900);
    background: var(--white);

    padding: .4vw 3.5vw;
    border: none;
    border: var(--blue900) solid .26vw;
    border-radius: .16vw;

    font-size: 1.3vw;
    font-weight: 500;

    cursor: pointer;

    transition: background .2s;
}

.buttonsHome button:last-child:hover {
    background: var(--blue900);
    color: var(--white);
}

/* CellGirl Section */

.cellGirl {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14vw 11.5vw 7.5vw 11.5vw;
}

.cellGirl img {
    display: inline-block;
    width: 38vw;
    height: auto;

    margin-left: 2.5vw;
}

.detailsCellGirl {
    width: 45.7vw;

    margin-top: 4.1vw;
}

.detailsCellGirl h1 {
    font-size: 3.05vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 1.3vw;
}

.detailsCellGirl p {
    font-size: 1.3vw;
    font-weight: 400;
    color: var(--blue400);

    margin-bottom: 6.8vw;
}

.detailsDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailDescription:last-child {
    margin-left: 2.5vw;
}

.detailDescription img {
    width: 3.05vw;

    margin-bottom: 1.2vw;
    margin-left: 0;
}

.detailDescription h2 {
    font-size: 1.3vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 0.5vw;
}

.detailDescription p {
    font-size: 1vw;
    font-weight: 400;
    color: var(--gray600);
}

/* Media queries */

@media (max-width: 850px) {
    .detailsHome h1 {
        font-size: 3.9vh;
    }
}

@media (max-width: 800px) {
    .detailsHome h1 {
        font-size: 3vh;
    }

    header {
        padding-bottom: 12vh;
    }
}

@media (max-width: 615px) {
    .detailsHome h1 {
        font-size: 2.6vh;
    }

    header {
        padding-bottom: 9vh;
    }
}

@media (max-width: 535px) {
    .detailsHome h1 {
        font-size: 1.9vh;
    }

    header {
        padding-bottom: 7vh;
    }
}

@media (max-width: 390px) {
    .detailsHome h1 {
        font-size: 1.7vh;
    }

    header {
        padding-bottom: 5vh;
    }
}

@media (max-width: 350px) {
    .detailsHome h1 {
        font-size: 1vh;
    }

    header {
        padding-bottom: 3vh;
    }
}

@media (max-width: 250px) {
    header {
        padding-bottom: 1vh;
    }
}

@media (max-width: 165px) {
    .detailsHome h1 {
        font-size: .8vh;
    }

    header {
        padding-bottom: 0vh;
    }
}