:root {
    /* Blue */
    --blue900: #091133;
    --blue800: #111B47;
    --blue700: #222F65;
    --blue600: #37447E;
    --blue500: #505F98;
    --blue400: #6F7CB2;
    --blue300: #929ECC;
    --blue100: #E7ECFF;

    /* Gray */
    --gray800: #393E41;
    --gray600: #5D6970;
    --gray500: #76848C;
    --gray400: #939EA4;
    --gray200: #CDD1D4;
    --gray100: #E9EBEC;

    /* White */
    --white: #FFFFFF;

    /* Background */
    --background: #FBFBFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto',sans-serif;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.6vh 14vw 14vh 14vw;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}

header li {
    padding-right: 4vw;
}

header li:last-child {
    padding-right: 0;
}

header li a {
    font-size: 1.2vw;
    font-weight: 400;
}

header h1 {
    font-size: 2.2vw;
    font-weight: 900;
    color: var(--blue600);

    margin-left: -6vw;
    cursor: default;
}

header button {
    font-size: 1vw;
    font-weight: 500;
    color: var(--white);
    background: var(--blue800);

    border: none;
    border-radius: .16vw;

    opacity: .7;

    padding: .58vw 4.7vw;

    transition: opacity .2s;

    cursor: pointer;
}

header button:hover {
    opacity: 1;
}

/* Modal */
.modal {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    
}

/* footer */
footer {
    background: var(--blue100);
}

.footerNavbar {
    text-align: center;
}

.footerNavbar img {
    width: 76vw;
}

.topFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5.4vw 14vw;
    padding-bottom: 2vw;
}

.topFooter p {
    font-size: 1.18vw;
    font-weight: 500;
    color: var(--gray400);

    text-align: center;
    cursor: default;
}

.topFooter h1 {
    font-size: 2.2vw;
    font-weight: 900;
    color: var(--blue600);

    margin-left: -2.2vw;

    cursor: default;
}

.topFooter a {
    font-size: 1.01vw;
    font-weight: 500;
    color: var(--white);
    background: var(--blue800);

    padding: .7vw 1.4vw;
    border-radius: .16vw;

    opacity: .8;
    transition: opacity .2s;
}

.topFooter a:hover {
    opacity: 1;
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.7vw 14vw;
}

.bottomFooterNavbar a {
    font-size: 1.18vw;
    font-weight: 400;
    color: var(--blue300);

    margin-right: 5.08vw;

    transition: color .2s;
}

.bottomFooterNavbar a:hover {
    color: var(--blue600);
}

.bottomFooterNavbar a:last-child {
    margin-right: 0;
}

.bottomFooterSocial a:first-child img {
    opacity: .3;

    transition: opacity .2s;
}

.bottomFooterSocial a:first-child img:hover {
    opacity: 1;
}

.bottomFooterSocial img {
    width: 1.35vw;

    margin-left: 2.5vw;

    transition: filter .2s;
}

.bottomFooterSocial img:hover{
    filter: brightness(.2);
}

/* Media queries */

@media (max-width: 850px) {
    .detailsHome h1 {
        font-size: 3.9vh;
    }
}

@media (max-width: 800px) {
    .detailsHome h1 {
        font-size: 3vh;
    }

    header {
        padding-bottom: 12vh;
    }
}

@media (max-width: 615px) {
    .detailsHome h1 {
        font-size: 2.6vh;
    }

    header {
        padding-bottom: 9vh;
    }
}

@media (max-width: 535px) {
    .detailsHome h1 {
        font-size: 1.9vh;
    }

    header {
        padding-bottom: 7vh;
    }
}

@media (max-width: 390px) {
    .detailsHome h1 {
        font-size: 1.7vh;
    }

    header {
        padding-bottom: 5vh;
    }
}

@media (max-width: 350px) {
    .detailsHome h1 {
        font-size: 1vh;
    }

    header {
        padding-bottom: 3vh;
    }
}

@media (max-width: 250px) {
    header {
        padding-bottom: 1vh;
    }
}

@media (max-width: 165px) {
    .detailsHome h1 {
        font-size: .8vh;
    }

    header {
        padding-bottom: 0vh;
    }
}