header li a {
    color: var(--blue400);

    transition: color .2s;
}

header ul button {
    color: var(--blue400);
}

header ul button:hover {
    color: var(--gray800);
    transition: color .2s;
}

header li a:hover {
    color: var(--blue800);
}

/* Home Section */

.backShape {
    width: 70vw;
    height: auto;

    top: 0;
    right: 0;

    position: absolute;

    z-index: -1;
}

.homeSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 11.5vw;
}

.homeSection img {
    display: inline-block;
    width: 44vw;
    height: auto;

    top: 0;
}

.detailsHome {
    display: block;

    width: 45.6vw;
    height: 35.6vw;

    padding-right: 7.8vw;
}

.detailsHome h1 {
    font-size: 3.317vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 1.7vw;
}

.detailsHome p {
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--blue500);

    margin-bottom: 5.8vw;
}

.buttonsHome {
    display: flex;
    align-items: center;
}

.buttonsHome button:first-child {
    color: var(--white);
    background: var(--blue800);

    margin-right: 2.5vw;

    padding: 0.6vw 3.5vw;
    border: none;
    border-radius: .16vw;

    font-size: 1.3vw;
    font-weight: 500;

    cursor: pointer;

    opacity: .8;
    transition: opacity .2s;
}

.buttonsHome button:first-child:hover {
    opacity: 1;
}

.buttonsHome button:last-child {
    color: var(--blue900);
    background: var(--white);

    padding: .4vw 3.5vw;
    border: none;
    border: var(--blue900) solid .26vw;
    border-radius: .16vw;

    font-size: 1.3vw;
    font-weight: 500;

    cursor: pointer;

    transition: background .2s;
}

.buttonsHome button:last-child:hover {
    background: var(--blue900);
    color: var(--white);
}

/* CellGirl Section */

.cellGirl {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14vw 11.5vw 7.5vw 11.5vw;
}

.cellGirl img {
    display: inline-block;
    width: 38vw;
    height: auto;

    margin-left: 2.5vw;
}

.detailsCellGirl {
    width: 45.7vw;

    margin-top: 4.1vw;
}

.detailsCellGirl h1 {
    font-size: 3.05vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 1.3vw;
}

.detailsCellGirl p {
    font-size: 1.3vw;
    font-weight: 400;
    color: var(--blue400);

    margin-bottom: 6.8vw;
}

.detailsDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailDescription:last-child {
    margin-left: 2.5vw;
}

.detailDescription img {
    width: 3.05vw;

    margin-bottom: 1.2vw;
    margin-left: 0;
}

.detailDescription h2 {
    font-size: 1.3vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 0.5vw;
}

.detailDescription p {
    font-size: 1vw;
    font-weight: 400;
    color: var(--gray600);
}

/* Lotus Girl Section */

.lotusGirl {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 9vw 11.5vw 7.5vw 11.5vw;
}

.lotusGirl img {
    width: 30vw;
    margin-right: 11vw;
}

.lotusGirlDetails h1 {
    font-size: 3.05vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 1.3vw;
}

.lotusGirlDetails p {
    font-size: 1.4vw;
    font-weight: 400;
    color: var(--blue400);
}

/* cellPark Section */

.cellParkSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 9vw 11.5vw 7.5vw 11.5vw;
}

.cellParkSection img {
    width: 32vw;
    margin-right: 10.6vw;
}

.cellParkDetails h1 {
    font-size: 3.05vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 1.4vw;
}

.cellParkDetails p {
    font-size: 1.4vw;
    font-weight: 400;
    color: var(--blue400);
}

/* Yoga Section */

.yogaSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 9vw 11.5vw 34vw 11.5vw;
}

.yogaSection img {
    width: 30vw;
    margin-right: 10.6vw;
}

.yogaDetails h1 {
    font-size: 3.05vw;
    font-weight: 500;
    color: var(--blue900);

    margin-bottom: 1.4vw;
}

.yogaDetails p {
    font-size: 1.4vw;
    font-weight: 400;
    color: var(--blue400);
}

/* bottom Section */

.bottomSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 14.5vw;
}

.bottomSection img {
    width: 100vw;
    height: 70vw;

    position: absolute;

    z-index: -1;
}

.titleBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.titleBottom h1 {
    font-size: 3.05vw;
    font-weight: 500;
    color: var(--blue900);
}

.titleBottom p {
    font-size: 1.35vw;
    font-weight: 300;
    color: var(--blue400);

    margin-top: 1.35vw;
}

.mainBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 3.05vw;
}

.mainBottom h2 {
    font-size: 4.2vw;
    font-weight: 500;
    color: var(--blue700);
}

.mainBottom p {
    font-size: 1.3vw;
    font-weight: 400;
    color: var(--blue600);

    margin-top: .5vw;
}

.footerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5.08vw;
}

.footerBottom p {
    font-size: 1.18vw;
    font-weight: 400;
    color: var(--gray600);
}

.footerBottom a {
    font-size: 1.18vw;
    font-weight: 500;
    color: var(--white);
    background: var(--blue800);

    border: none;
    border-radius: .16vw;
    padding: 0.9vw 4.1vw;
    margin-top: 0.85vw;

    cursor: pointer;
    opacity: .8;

    transition: opacity .2s;
}

.footerBottom a:hover {
    opacity: 1;
}